In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests

In [2]:
headers = {'User-agent': 'Custom User Agent'}

In [3]:
url = 'https://www.riaa.com/gold-platinum/?tab_active=awards_by_album#search_section'

In [4]:
response = requests.get(url, headers=headers)

In [5]:
table = pd.read_html(response.text)
table

[        0                         1                                       2  \
 0   Award                    Artist                                   Title
 1   SHARE                    EAGLES  EAGLES/THEIR GREATEST HITS 1971 - 1975
 2   SHARE           MICHAEL JACKSON                                THRILLER
 3   SHARE                    EAGLES                        HOTEL CALIFORNIA
 4   SHARE                BILLY JOEL      GREATEST HITS VOLUME I & VOLUME II
 5   SHARE              LED ZEPPELIN                         LED ZEPPELIN IV
 6   SHARE                PINK FLOYD                                THE WALL
 7   SHARE                     AC/DC                           BACK IN BLACK
 8   SHARE              GARTH BROOKS                             DOUBLE LIVE
 9   SHARE     HOOTIE & THE BLOWFISH                       CRACKED REAR VIEW
 10  SHARE             FLEETWOOD MAC                                 RUMOURS
 11  SHARE              SHANIA TWAIN                            COME ON OVER
 12  SHARE               THE BEATLES                             THE BEATLES
 13  SHARE             GUNS N' ROSES                APPETITE FOR DESTRUCTION
 14  SHARE           WHITNEY HOUSTON              THE BODYGUARD (SOUNDTRACK)
 15  SHARE                    BOSTON                                  BOSTON
 16  SHARE                ELTON JOHN                           GREATEST HITS
 17  SHARE              GARTH BROOKS                               NO FENCES
 18  SHARE               THE BEATLES                 THE BEATLES 1967 - 1970
 19  SHARE         ALANIS MORISSETTE                      JAGGED LITTLE PILL
 20  SHARE                  BEE GEES       SATURDAY NIGHT FEVER (SOUNDTRACK)
 21  SHARE              LED ZEPPELIN                       PHYSICAL GRAFFITI
 22  SHARE                 METALLICA                               METALLICA
 23  SHARE  BOB MARLEY & THE WAILERS                                  LEGEND
 24  SHARE         BRUCE SPRINGSTEEN                      BORN IN THE U.S.A.
 25  SHARE                   JOURNEY                           GREATEST HITS
 26  SHARE                PINK FLOYD                   DARK SIDE OF THE MOON
 27  SHARE                   SANTANA                            SUPERNATURAL
 28  SHARE               THE BEATLES                 THE BEATLES 1962 - 1966
 29  SHARE                     ADELE                                      21
 30  SHARE           BACKSTREET BOYS                         BACKSTREET BOYS

                                      3       4                              5  \
 0                                Label  Format  Certified Units (In Millions)
 1                                RHINO   ALBUM                38 MORE DETAILS
 2                         EPIC RECORDS   ALBUM                33 MORE DETAILS
 3                                RHINO   ALBUM                26 MORE DETAILS
 4                             COLUMBIA   ALBUM                23 MORE DETAILS
 5                             ATLANTIC   ALBUM                23 MORE DETAILS
 6                             COLUMBIA   ALBUM                23 MORE DETAILS
 7                                 EPIC   ALBUM                22 MORE DETAILS
 8                    CAPITOL NASHVILLE   ALBUM                21 MORE DETAILS
 9                                RHINO   ALBUM                21 MORE DETAILS
 10                        WARNER BROS.   ALBUM                20 MORE DETAILS
 11                   MERCURY NASHVILLE   ALBUM                20 MORE DETAILS
 12                               APPLE   ALBUM                19 MORE DETAILS
 13                              GEFFEN   ALBUM                18 MORE DETAILS
 14                         RCA RECORDS   ALBUM                18 MORE DETAILS
 15                                EPIC   ALBUM                17 MORE DETAILS
 16                              ISLAND   ALBUM                17 MORE DETAILS
 17                             CAPITOL   ALBUM                17 MORE DETAILS
 18                                 EMI   ALBUM                17 MORE DETAILS
 19                            MAVERICK   ALBUM                16 MORE DETAILS
 20                             CAPITOL   ALBUM                16 MORE DETAILS
 21                           SWAN SONG   ALBUM                16 MORE DETAILS
 22  ATLANTIC RECORDS / ELEKTRA RECORDS   ALBUM                16 MORE DETAILS
 23                              ISLAND   ALBUM                15 MORE DETAILS
 24                            COLUMBIA   ALBUM                15 MORE DETAILS
 25                            COLUMBIA   ALBUM                15 MORE DETAILS
 26                             HARVEST   ALBUM                15 MORE DETAILS
 27                              ARISTA   ALBUM                15 MORE DETAILS
 28                               APPLE   ALBUM                15 MORE DETAILS
 29                            COLUMBIA   ALBUM                14 MORE DETAILS
 30                                JIVE   ALBUM                14 MORE DETAILS

                                                     6
 0                                                 NaN
 1   EAGLES  Title: EAGLES/THEIR GREATEST HITS 1971...
 2   MICHAEL JACKSON  Title: THRILLER  Label: EPIC ...
 3   EAGLES  Title: HOTEL CALIFORNIA  Label: RHINO ...
 4   BILLY JOEL  Title: GREATEST HITS VOLUME I & VO...
 5   LED ZEPPELIN  Title: LED ZEPPELIN IV  Label: A...
 6   PINK FLOYD  Title: THE WALL  Label: COLUMBIA  ...
 7   AC/DC  Title: BACK IN BLACK  Label: EPIC  Form...
 8   GARTH BROOKS  Title: DOUBLE LIVE  Label: CAPIT...
 9   HOOTIE & THE BLOWFISH  Title: CRACKED REAR VIE...
 10  FLEETWOOD MAC  Title: RUMOURS  Label: WARNER B...
 11  SHANIA TWAIN  Title: COME ON OVER  Label: MERC...
 12  THE BEATLES  Title: THE BEATLES  Label: APPLE ...
 13  GUNS N' ROSES  Title: APPETITE FOR DESTRUCTION...
 14  WHITNEY HOUSTON  Title: THE BODYGUARD (SOUNDTR...
 15  BOSTON  Title: BOSTON  Label: EPIC  Format: AL...
 16  ELTON JOHN  Title: GREATEST HITS  Label: ISLAN...
 17  GARTH BROOKS  Title: NO FENCES  Label: CAPITOL...
 18  THE BEATLES  Title: THE BEATLES 1967 - 1970  L...
 19  ALANIS MORISSETTE  Title: JAGGED LITTLE PILL  ...
 20  BEE GEES  Title: SATURDAY NIGHT FEVER (SOUNDTR...
 21  LED ZEPPELIN  Title: PHYSICAL GRAFFITI  Label:...
 22  METALLICA  Title: METALLICA  Label: ATLANTIC R...
 23  BOB MARLEY & THE WAILERS  Title: LEGEND  Label...
 24  BRUCE SPRINGSTEEN  Title: BORN IN THE U.S.A.  ...
 25  JOURNEY  Title: GREATEST HITS  Label: COLUMBIA...
 26  PINK FLOYD  Title: DARK SIDE OF THE MOON  Labe...
 27  SANTANA  Title: SUPERNATURAL  Label: ARISTA  F...
 28  THE BEATLES  Title: THE BEATLES 1962 - 1966  L...
 29  ADELE  Title: 21  Label: COLUMBIA  Format: ALB...
 30  BACKSTREET BOYS  Title: BACKSTREET BOYS  Label...  ]

In [6]:
no_details = table[0]
no_details.head()

,0,1,2,3,4,5,6
0,Award,Artist,Title,Label,Format,Certified Units (In Millions),NaN
1,SHARE,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38 MORE DETAILS,EAGLES Title: EAGLES/THEIR GREATEST HITS 1971...
2,SHARE,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33 MORE DETAILS,MICHAEL JACKSON Title: THRILLER Label: EPIC ...
3,SHARE,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26 MORE DETAILS,EAGLES Title: HOTEL CALIFORNIA Label: RHINO ...
4,SHARE,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23 MORE DETAILS,BILLY JOEL Title: GREATEST HITS VOLUME I & VO...

In [7]:
no_details.fillna(value='All', inplace=True)
no_details.head()

,0,1,2,3,4,5,6
0,Award,Artist,Title,Label,Format,Certified Units (In Millions),All
1,SHARE,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38 MORE DETAILS,EAGLES Title: EAGLES/THEIR GREATEST HITS 1971...
2,SHARE,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33 MORE DETAILS,MICHAEL JACKSON Title: THRILLER Label: EPIC ...
3,SHARE,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26 MORE DETAILS,EAGLES Title: HOTEL CALIFORNIA Label: RHINO ...
4,SHARE,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23 MORE DETAILS,BILLY JOEL Title: GREATEST HITS VOLUME I & VO...

In [8]:
no_details.columns = no_details.iloc[0]
no_details.head()

,Award,Artist,Title,Label,Format,Certified Units (In Millions),All
0,Award,Artist,Title,Label,Format,Certified Units (In Millions),All
1,SHARE,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38 MORE DETAILS,EAGLES Title: EAGLES/THEIR GREATEST HITS 1971...
2,SHARE,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33 MORE DETAILS,MICHAEL JACKSON Title: THRILLER Label: EPIC ...
3,SHARE,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26 MORE DETAILS,EAGLES Title: HOTEL CALIFORNIA Label: RHINO ...
4,SHARE,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23 MORE DETAILS,BILLY JOEL Title: GREATEST HITS VOLUME I & VO...

In [9]:
no_details_cleanup = no_details.drop(no_details.index[0])
no_details_cleanup.head()

,Award,Artist,Title,Label,Format,Certified Units (In Millions),All
1,SHARE,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38 MORE DETAILS,EAGLES Title: EAGLES/THEIR GREATEST HITS 1971...
2,SHARE,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33 MORE DETAILS,MICHAEL JACKSON Title: THRILLER Label: EPIC ...
3,SHARE,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26 MORE DETAILS,EAGLES Title: HOTEL CALIFORNIA Label: RHINO ...
4,SHARE,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23 MORE DETAILS,BILLY JOEL Title: GREATEST HITS VOLUME I & VO...
5,SHARE,LED ZEPPELIN,LED ZEPPELIN IV,ATLANTIC,ALBUM,23 MORE DETAILS,LED ZEPPELIN Title: LED ZEPPELIN IV Label: A...

In [10]:
no_details_cleanup = no_details_cleanup[['Artist', 'Title', 'Label', 'Format', 'Certified Units (In Millions)']]
no_details_cleanup.head()

,Artist,Title,Label,Format,Certified Units (In Millions)
1,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38 MORE DETAILS
2,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33 MORE DETAILS
3,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26 MORE DETAILS
4,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23 MORE DETAILS
5,LED ZEPPELIN,LED ZEPPELIN IV,ATLANTIC,ALBUM,23 MORE DETAILS

In [18]:
c_units = no_details['Certified Units (In Millions)'].str.split(" ", n = 1, expand = True)
c_units.columns = c_units.iloc[0]
c_units = c_units.drop(c_units.index[0])
c_units.head()

0 Certified Units (In Millions)
1        38        MORE DETAILS
2        33        MORE DETAILS
3        26        MORE DETAILS
4        23        MORE DETAILS
5        23        MORE DETAILS

In [20]:
cu = c_units['Certified']

In [21]:
no_details_cleanup['Certified Units (Millions)'] = cu
no_details_cleanup.head()

C:\Users\KGK\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Artist,Title,Label,Format,Certified Units (In Millions),Certified Units (Millions)
1,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38 MORE DETAILS,38
2,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33 MORE DETAILS,33
3,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26 MORE DETAILS,26
4,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23 MORE DETAILS,23
5,LED ZEPPELIN,LED ZEPPELIN IV,ATLANTIC,ALBUM,23 MORE DETAILS,23

In [25]:
no_md = no_details_cleanup.drop(no_details_cleanup.columns[4], axis=1)
no_md.head()

,Artist,Title,Label,Format,Certified Units (Millions)
1,EAGLES,EAGLES/THEIR GREATEST HITS 1971 - 1975,RHINO,ALBUM,38
2,MICHAEL JACKSON,THRILLER,EPIC RECORDS,ALBUM,33
3,EAGLES,HOTEL CALIFORNIA,RHINO,ALBUM,26
4,BILLY JOEL,GREATEST HITS VOLUME I & VOLUME II,COLUMBIA,ALBUM,23
5,LED ZEPPELIN,LED ZEPPELIN IV,ATLANTIC,ALBUM,23

pandas.core.series.Series